html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  /* padding: 15px; */
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: small;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/* .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

small{
    font-size: x-small;
    line-height: 0.2rem;
}

label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.card-body{
    padding-top:0px;
    font-size: small;
}

.btn{
    font-size: small;
}

.card-footer{
    font-size: small;
}