<body>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onClickRegisterSubmit()"
      class="form-signin card mb-4 box-shadow"
    >
      <h1 class="h4 mb-3 font-weight-normal card-header bg-danger text-light">Create Account</h1>
      <div class="card-body">
        <label for="inputUsername">Username</label>
        <input
          [class.is-invalid]="userName.invalid && userName.touched"
          type="text"
          id="inputUsername"
          formControlName="userName"
          class="form-control"
          placeholder="Username"
          autofocus
        />
        <div *ngIf="(userName.invalid && userName.touched) || userName.dirty">
          <small *ngIf="userName.errors?.required" class="text-danger"
            >Username is required</small
          >
        </div>
  
        <label for="inputEmail">Email</label>
        <input
          [class.is-invalid]="email.invalid && email.touched"
          type="email"
          id="inputEmail"
          formControlName="email"
          class="form-control"
          placeholder="Email address"
        />
        <div *ngIf="(email.invalid && email.touched) || email.dirty">
          <small *ngIf="email.errors?.required" class="text-danger"
            >Email is required</small
          >
          <small *ngIf="email.errors?.pattern" class="text-danger"
            >Please provide a valid email address</small
          >
        </div>
  
        <label for="inputPassword">Password</label>
        <input
          [class.is-invalid]="password.invalid && password.touched"
          type="password"
          id="inputPassword"
          formControlName="password"
          class="form-control"
          placeholder="Password"
        />
        <div *ngIf="(password.invalid && password.touched) || password.dirty">
          <small *ngIf="password.errors?.required" class="text-danger"
            >Password is required</small
          >
        </div>
  
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            class="custom-control-input"
            id="Male"
            value="male"
            formControlName="gender"
            checked
          />
          <label class="custom-control-label" for="Male">Male</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            class="custom-control-input"
            id="Female"
            value="female"
            formControlName="gender"
          />
          <label class="custom-control-label" for="Female">Female</label>
        </div>
        <div *ngIf="gender.invalid || gender.dirty">
          <small *ngIf="gender.errors?.required" class="text-danger"
            >Gender is required</small
          >
        </div>
  
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">
          Create Account
        </button>
        <small class="text-muted"
          >By creating an account, you agree to our Conditions of Use and Privacy
          Policy.</small
        >
      </div>
      <div class="card-footer text-muted">
        Already have an account?
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="../login"
        >
          Sign In</a
        >
      </div>
    </form>
  </body>