.ftr-content{
    position: relative;
    margin: 45px auto;
    width: 84%;
    max-width: 1180px;
}

.ftr-details{
    text-align: center;
}

.ftr-small{
    font-size: small;
    line-height: 1.5rem;
}

.small-m-logo{
    width: 45px;
    padding-bottom: 1.5rem;
}