<ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of sliderImages; index as i">
        <div class="carousel-caption col-md-5 p-lg-5 mx-auto my-5 d-md-inline-block d-none" id="dev">
            <h1 class="display-4 font-weight-normal d-lg-inline-block d-none text-danger">{{sliderTitles[i]}}</h1>
            <p class="lead font-weight-normal">{{sliderCaptions[i]}}</p>
            <a class="btn btn-primary" routerLink="../products"
            (click)="getAllProducts()">Shop Now</a>
        </div>
        <div class="picsum-img-wrapper">
            <img [src]="img" class="w-100" height="500">
        </div>
    </ng-template>
</ngb-carousel>

<div class="container marketing">
    <hr class="featurette-divider">
    <div *ngFor="let laptop of promotedLaptops; index as i">
        <div *ngIf="i<=1; then featurette"></div>
        <ng-template #featurette>
            <a routerLink="../products/Details/{{laptop._id}}" class="row featurette">
                <div class="col-md-7" [ngClass]="{'order-md-2' : i==0}">
                    <h2 class="featurette-heading font-weight-bold pl-3">{{laptop.title}}</h2>
                    <h3 class="text-muted old-price d-inline pl-3">{{laptop.price}} EGP</h3>
                    <h3 class="new-price text-danger d-inline"> {{laptop.price-laptop.price*laptop.ratioOfPromotion}} EGP</h3>
                    <ul class="lead pt-2">
                        <li *ngFor="let key of GetKeys(laptop.details)"><b>{{key}}:</b> {{laptop.details[key]}}</li>
                    </ul>
                    <!-- <button type="button" class="btn btn-sm btn-primary" routerLink="../products/Details/{{laptop._id}}">View Details</button> -->
                </div>
                <div class="col-md-5 vertical-center">
                    <img class="featurette-image img-fluid mx-auto vertical-center"
                    [src]="laptop.images[0]">
                </div>
            </a>
            <hr class="featurette-divider">
        </ng-template>
    </div>
    <div class="card-columns">
        <div *ngFor="let laptop of promotedLaptops; index as i">
            <div *ngIf="i>=2; then cardcolumn"></div>
            <ng-template #cardcolumn>
                <a routerLink="../products/Details/{{laptop._id}}" class="card mb-4 box-shadow">
                    <img class="card-img-top p-3" [src]="laptop.images[0]">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{laptop.title}}</h5>
                        <ul class="card-text">
                            <li *ngFor="let key of GetKeys(laptop.details)"><b>{{key}}:</b> {{laptop.details[key]}}</li>
                        </ul>
                        <div class="d-flex justify-content-end align-items-center">

                            <div>
                                <p class="card-text new-price text-danger">{{laptop.price-laptop.price*laptop.ratioOfPromotion}} EGP</p>
                                <small class="text-muted old-price">{{laptop.price}} EGP</small>
                            </div>
                        </div>
                    </div>
                </a>
            </ng-template>
        </div>
    </div>

</div>