<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top">
                <div class="card-body">
                  <!-- [src]="user.image" -->
                  <div class="image">
                    <img class="card-img-top mb-3" [src]="user.image" >
                    <button type="button" class="btn btn-light w-100 mb-2 bottom-left" (click)="onClickEditPhotoModal()">Edit Photo</button>
                  </div>
                    <div class="card-text">
                        <p><b>Name: </b>{{user.userName}}</p>
                        <p><b>Email: </b>{{user.email}}</p>
                        <p><b>Gender: </b>{{user.gender}}</p>
                    </div>
                    <button type="button" class="btn btn-dark w-100" (click)="onClickEditInfoModal()">Edit Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-12">
          <div class="table-responsive">
            <table class="table table-hover table-bordered box-shadow p-3 mb-3 bg-white rounded">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Date of order</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Products List</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders"> 
                        <!-- TODO: should be getOrder(order) instead of order -->
                        <td>{{ order._id }}</td>
                        <td>{{ order.date.split("T")[0] }}</td>
                        <td>{{ order.price }} EGP</td>
                        <td>{{ order.status }}</td>
                        <td>
                            <input type="button" class="btn btn-primary" data-toggle="modal" 
                            data-target="#exampleModal" value="Show Products" 
                            (click)="openModal(order._id)"/>
                            <!-- <input
                      type="button" (click)="openModal(order.orderId)" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" value="Show Products"/> -->
                        </td>
                        <td style="min-width: 100px;">
                            <input *ngIf="order.status!='accepted' && order.status!='cancelled' && order.status!='rejected'" type="button" class="btn btn-danger"
                             value="Cancel" 
                             (click)="Cancle(order)"/>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Order {{ tempOrderId }}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12 mt-3 ml-auto">
                <table
                  class="table table table-bordered p-3 mb-3 bg-white rounded"
                >
                  <thead class="thead-white">
                    <tr>
                      <th scope="col">Product Title</th>
                      <th scope="col">Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of productsArr; let i = index">
                      <th scope="row">{{ productTitle[i] }}</th>
                      <td>{{ product.quantity }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
