<!-- {{user.userName}} -->
<form [formGroup]="updateUserPhotoForm" (ngSubmit)="onClickUpdateUserPhotoSubmit()">
    <div class="modal-header">
        <h4 class="modal-title">Edit Photo</h4>
        <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
          <div class="mb-3">
            <label for="inputImage">Images</label>

            <div class="custom-file">
                <input type="file" id="inputImage" accept="image/*" class="custom-file-input" id="validatedCustomFile" name="images"
                    lang="es" (change)="uploadFile($event.target.files)">

                <label class="custom-file-label" for="validatedCustomFile">{{fileName}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
</form>
